:root {

    --text-dark: #2a2a2a;
    --text-primary: #444CF7;
    --primary-color: #444CF7;
    --primary-color-50: #444CF750;
    --primary-color-25: #444CF725;
    --table_header_color: #98A2B3;
    --table_header_color_25: #98A2B325;
    --table_header_color_50: #98A2B350;
    --danger: #F62C57;

    --white: #fff;

    --dark: #2A2A2A;
    --dark_75: #2A2A2A90;
    --dark_50: #2A2A2A50;
    --dark_25: #2A2A2A25;
    --table_width: 20%;
    /* for buttons and other backgrounds except text */
}

.alert {
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger .fas {
    color: #721c24;
}

.no-text-decoration{
    text-decoration: none;
}
