:root {

    --text-dark: #2a2a2a;
    --text-primary: #444CF7;
    --primary-color: #444CF7;
    --primary-color-50: #444CF750;
    --primary-color-25: #444CF725;

    --white: #fff;

    --dark: #2A2A2A;
    --dark_75: #2A2A2A90;
    --dark_50: #2A2A2A50;
    --dark_25: #2A2A2A25;
    /* for buttons and other backgrounds except text */
}